body {
  font-family: Arial, sans-serif;
  background-color: #f5deb3;
}

.container {
  max-width: 650px;
  margin: 120px auto;
}

/* Header Styles */

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  color: #ff7f50;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}

/* Main Content Styles */

form {
  background-color: #fff8dc;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  border-left: #ff7f50 5px solid;
  border-right: #ff7f50 5px solid;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ffa07a;
  border-radius: 10px;
  font-size: 16px;
}

.input:focus {
  border-color: #ff6347;
  outline: none;
  cursor: pointer;
}

.submit-button {
  background-color: #ff7f50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.submit-button:hover {
  background-color: #ffa07a;
}

.recipe-output {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff8dc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: #ff7f50 5px solid;
  font-size: 17px;
  line-height: 1.6;
}

.recipe-output.hidden {
  display: none;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.recipe-output h1 {
  color: #ff6347;
  font-size: 30px;
}

/* Footer Styles */

footer {
  text-align: center;
  color: black;
  width: 100%;
  font-size: 15px;
}

a {
  color: #ff7f50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #ff6347;
}
